#root div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

#root > div {
  height: 600px;
  width: 1200px;
}

div.titles {
  flex-direction: column;
  padding: 1em;
  background-image: url("images/3.jpg");
  background-position: center;
  color: #f2f2f2;
  background-size: cover;
  flex: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

div.container {
  flex-direction: column;
  padding: 3em 1em;
  flex: 3;
  background-color: #253645;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

input, button {
  margin: 0 0.5em 0 0.5em;
  border: none;
  background: none;
  padding: 0.5em 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  color: #f2f2f2;
}

input {
  border-bottom: 1px solid #ed5443;
}

button {
  background-color: #ed5443;
  cursor: pointer;
}

#root div.weather {
  padding: 0 3em;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  color: #fff;
}

div.weather p {
  font-size: 20px;
  padding: 1em 0;
  border-bottom: 1px solid #ed5443;
}
